*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.sec-1{
    height: 50vh;
}

.sec-1 .carousel{
    height: 50vh;
}

.sec-1 .carousel img{
    height: 50vh;
    object-fit: cover;
}

.sec-1 .carousel .carousel-control-prev{
    height: 40px;
    width: 40px;
    display: block;
    margin: auto 20px;
    background-color: black;
    border-radius: 50px;
}

.sec-1 .carousel .carousel-control-prev .carousel-control-prev-icon{
    display: block;
    margin: 8px auto;
}

.sec-1 .carousel .carousel-control-next{
    height: 40px;
    width: 40px;
    display: block;
    margin: auto 20px;
    background-color: black;
    border-radius: 50px;
}

.sec-1 .carousel .carousel-control-next .carousel-control-next-icon{
    display: block;
    margin: 8px auto;
}


/***********************************************************/

.sec-2{
    margin-top: 5%;
}

.sec-2 .lol{
    width: 90%;
    display: block;
    margin: auto;
}

.sec-2 .sec-2-left{
    width: 90%;
}

.sec-2 .sec-2-left hr{
    margin-top: 0.1em;
}

.sec-2 .sec-2-left .title h4{
    line-height: 0.4em;
}

.sec-2 .sec-2-left .description span{
    font-size: medium;
    color: red;
}

.sec-2 .sec-2-left .amen-content{
    font-size: 20px;
    display: block;
    margin: auto 10px;
}

.sec-2 .sec-2-left .know .know-content h5{
    font-weight: 400;
}

/*************************************************************/

.sec-2 .sec-2-right{
    width: 90%;
}

.sec-2 .sec-2-right .offer-carousel{
    width: 100%;
    height: 20vh;
    display: block;
    margin: auto;
}

.sec-2 .sec-2-right .offer-carousel .carousel{
    height: 20vh;
}

.sec-2 .sec-2-right .offer-carousel .carousel img{
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.sec-2 .sec-2-right .payment-form{
    width: 65%;
    background-color: #fff;
    display: block;
    margin: 20px auto;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}


.sec-2 .sec-2-right .payment-form .payment-content .login{
    height: 5vh;
    background: rgb(181,28,28);
    background: linear-gradient(90deg, rgba(181,28,28,1) 0%, rgba(181,28,28,1) 0%, rgba(32,5,5,1) 0%, rgba(194,17,19,1) 87%, rgba(204,3,3,1) 100%,
     rgba(153,80,90,1) 100%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
}

.sec-2 .sec-2-right .payment-form .payment-content .login p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.sec-2 .sec-2-right .payment-form .payment-content .login p span{
    margin: 20px 20px;
    font-size: 25px;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}

.sec-2 .sec-2-right .payment-form .payment-content .row{
    margin-top: 20px;
}

.sec-2 .sec-2-right .payment-form .payment-content .row .col-8{
    margin-left: 10px;
}

.sec-2 .sec-2-right .payment-form .payment-content .row .col-8 h4 span{
    font-weight: bold;
}

.sec-2 .sec-2-right .payment-form .payment-content .row .col-8 h4{
    font-weight: 400;
    margin-left: 5px;
    line-height: 0.5em;
    margin-top: 3%;
}

.sec-2 .sec-2-right .payment-form .payment-content .row .col-8 p{
    margin-left: 5px;
}

.sec-2 .sec-2-right .payment-form .payment-content .offer-box{
    width: 100%;
    height: 6vh;
    background-color: #121212;
    display: block;
    margin: 20px auto;
}

.sec-2 .sec-2-right .payment-form .payment-content .offer-box .col-8 p{
    display: block;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #fff;
}

.sec-2 .sec-2-right .payment-form .payment-content .offer-box .col input{
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.sec-2 .sec-2-right .payment-form .payment-content .button{
    margin-top: 20px;
    padding-bottom: 20px;
}

.sec-2 .sec-2-right .payment-form .payment-content .button button{
    width: 80%;
    height: 40px;
    display: block;
    margin: auto;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background-color: orange;
    border: 1px solid black;
}


/*************************************************************************************/

.sec-3{
    margin-top: 4%;
}

.sec-3 .lol{
    width: 90%;
    display: block;
    margin: auto;
}

.sec-3 .help-content ul li{
    line-height: 2.5em;
}


/**************************************************/


@media(max-width: 600px){
    .sec-2 .sec-2-left .description h3{
        font-size: larger;
    }
    .sec-2 .sec-2-left .description h3 span{
        font-size: small;
    }

    .sec-2 .sec-2-left .Amenities h3{
        font-size: larger;
    }

    .sec-2 .sec-2-left .amen-content{
        margin: 0px;
    }

    .sec-2 .sec-2-left .amen-content .row i{
        font-size: 15px;
    }

    .sec-2 .sec-2-left .amen-content .row p{
        font-size: 12px;
    }

    .sec-2 .sec-2-left .know .know-title h3{
        font-size: larger;
    }

    .sec-2 .sec-2-left .know .know-content h5{
        font-size: medium;
    }

    .sec-2 .sec-2-right{
        width: 100%;
        margin-top: 5%;
    }

    .sec-2 .sec-2-right .offer-carousel{
        width: 100%;
        margin: 0 auto;
    }

    .sec-2 .sec-2-right .payment-form{
        width: 100%;
    }

    .sec-2 .sec-2-right .payment-form .payment-content .login p{
        font-size: 15px;
    }

    .sec-2 .sec-2-right .payment-form .payment-content .login p span{
        font-size: 20px;
        margin: 10px;
    }

    .sec-2 .sec-2-right .payment-form .payment-content .row .col-8 h4{
        font-size: 18px;
    }

    .sec-2 .sec-2-right .payment-form .payment-content .row .col-8 h4 span{
        font-size: 20px;
    }

    .sec-2 .sec-2-right .payment-form .payment-content .row .col h4{
        font-size: 18px;
    }

    .sec-3 .lol .help-title h4{
        font-size: larger;
    }

    .sec-3 .help-content ul li{
        width: 100%;
        line-height: 2em;
        margin-left: 5%;
    }

}
@media only screen and (max-width: 480px){

   .sec-1{
    height: 20vh;
    width: 100%;

    margin-top: 20px;

    }
    .sec-1 .carousel .carousel-control-prev{
        margin-bottom: 80%;
background-color: blue;
height: 30px;
    width: 30px;
    }
    .sec-1 .carousel .carousel-control-next{

    margin-bottom: 80%;
    background-color: blue;
    height: 30px;
    width: 30px;

    }
    .sec-1 .carousel img{
        height: 16vh;
        width: 100%;
        object-fit: cover;
    }
    .carousel-indicators{
        margin-bottom: 70%;
    }
    .sec-1 .carousel .carousel-control-prev .carousel-control-prev-icon{
        display: block;
        margin: 2px auto;
    }
    }